// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #42474c;
$textLight1Color: #fff;

$primaryColor: #f2f2f2;

$doneColor: #27ae60;
$warningColor: #c43256;
