.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.app__title {
  width: 48rem;
  text-align: left;
  margin-top: 2.4rem;
  font-size: 3.2rem;
  font-weight: 700;
}
