.delete-button__container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

.delete-button__icon {
  width: 24px;
  height: 24px;
}
